:root {
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white: #ffffff;

  --basic-blue: #81b3d2;
  --basic-extra-blue: #81b3d3;
  --basic-light-blue: #669EC0;
  --basic-dark-blue: #5496BD;

  --basic-brown: #766357;
  --basic-light-brown: #604E43;
  --basic-extra-brown: #503E33;

  --basic-gray: #cacaca;
  --basic-extra-gray: #f2f2f2;
  --basic-dark-gray: #ebebeb;
  --basic-silver: #eeeeee;
  --basic-extra-silver: #e5e5e5;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-extra-gray);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.logo {
  position: absolute;
  width: 138px;
  height: 70px;
  margin:0 auto;
  right: 0;
  left: 0;
}
.wrapper-navigation {
  width: 1055px;
  margin: 0 auto;
}
.page-menu-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-menu-left{
  margin-right: 146px;
text-align: left;}

.page-menu-right{
  margin-left: auto;
  text-align: right;
}


.page-menu-item:last-child{
  margin-left:163px;
}
.page-menu-item a{
  display: block;
  padding: 15px 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}


.page-menu-item a:hover,
.page-menu-item a:focus {
  color: var(--basic-blue);
}

.page-menu-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.greeting {
  min-width: 1200px;
  min-height: 509px;
  background-color: var(--basic-blue);
  background-image:
    url("../img/img-shape.png"),
    url("../img/title-welcome.png"),
    url("../img/background-title.jpg");
  background-repeat: no-repeat;
  background-position: bottom -1px center, center 75px, center;
}

.container-main {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 57px;
  margin-bottom: 29px;
  padding: 0 370px;
}

.reasons-text {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 51px;
  color: var(--basic-light-black);
  text-align: center;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

}

.reason-title {
  margin: 0 70px;
  margin-bottom: 27px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

}

.reason-item {
  text-align: center;
  padding: 45px 49px;
}

.reason-item p {
  margin: 0;
  margin-top: 20px;
}

.reason-item-blue {
  width: 400px;
  min-height: 256px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.reason-item-white {
  width: 400px;
  min-height: 330px;
  padding-top: 160px;
  padding-bottom: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.reason-item-gray {
  width: 400px;
  min-height: 256px;
  color: var(--basic-black);
  background-color: var(--basic-silver);

}

.img-sedona {
  width: 800px;
  height: 256px;
  background-color: var(--basic-blue);
  background-image: url("../img/background-town.jpg");
}

.reason-food {
  background-image: url("../img/icon-food.png");
  background-repeat: no-repeat;
  background-position: center 61px;
}

.reason-house {
  background-image: url("../img/icon-house.png");
  background-repeat: no-repeat;
  background-position: center 61px;
}

.reason-gift {
  background-image: url("../img/icon-gift.png");
  background-repeat: no-repeat;
  background-position: center 55px;
}

.img-bridge {
  width: 800px;
  height: 256px;
  background-color: var(--basic-blue);
  background-image: url("../img/background-bridge.jpg");
}

.title-big {
  margin-top: 56px;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;

}

.open-for-block {
  position: relative;
  min-height: 125px;
}

.form-container {
  position: absolute;
  left: calc(50% - 284px);
  width: 568px;
  padding: 55px;
  background-color: var(--basic-white);
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search-house-info {
  margin-top: 0;
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400 color: var(--basic-light-black);
  text-align: center;

}

.wrapper-text {
  padding: 0 340px;
}

.button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-open-form {
  display: block;
  width: 568px;
  min-height: 86px;
  margin: 0 auto;
  padding: 30px 135px;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
}

.button-open-form:hover,
.button-open-form:focus {
  background-color: var(--basic-light-brown);
}

.button-open-form:active {
  background-color: var(--basic-extra-brown);
  color: rgba(255, 255, 255, 0.3);
}

.input-date {
  min-height: 38px;
  width: 346px;
  padding: 6px 38px 6px 13px;
  margin-left: 15px;
  background-color: var(--basic-extra-gray);
  background-repeat: no-repeat;
  background-position: right 10px top 7px;
  border: none;
  text-transform: uppercase;

}

.input-arrival-date::after {
  content: "";
  position: absolute;
  right: 64px;
  top: 60px;
  width: 21px;
  height: 23px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.input-departure-date::after {
  content: "";
  position: absolute;
  right: 64px;
  top: 127px;
  width: 21px;
  height: 23px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.input-arrival-date:hover::after,
.input-departure-date:hover::after {
  background-image: url("../img/calendar-black.svg");
}

.input-arrival-date:active::after,
.input-departure-date:active::after {
  background-image: url("../img/calendar-blue.svg");
}

.input-number {
  background-color: var(--basic-extra-gray);
  border: none;
  width: 38px;
  height: 38px;
}

.wrapper-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.amount-left,
.amount-right {
  width: 225px;
}

.amount-right {
  padding-left: 46px;
}


.button-add,
.button-subtract {
  width: 38px;
  height: 38px;
  background-color: var(--basic-extra-gray);
  color: var(--basic-gray);
}

.button-add {
  font-size: 25px;
}

.button-subtract {
  font-size: 29px;
    padding: 0px 11px;
    padding-bottom: 7px;
}

.button-add:hover,
.button-subtract:hover {
  color: var(--basic-black);

}

.button-add:focus,
.button-subtract:active {
  color: var(--basic-blue);

}


.search-house-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-light-black);
}

.search-house-item label {
  flex-grow: 1;
}

.search-house-item input:hover {
  background-color: var(--basic-dark-gray);
}

.search-house-item input:focus,
.search-house-item input:active {
  background-color: var(--basic-white);
}


.button-search {
  width: 458px;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-blue);
}

.button-search:hover {
  background-color: var(--basic-light-blue);
}

.button-search:active {
  background-color: var(--basic-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.map-block {
  width: 1200px;
  min-height: 594px;
  background-color: var(--basic-blue);
  background-image: url("../img/background-map.png");
}

.footer {
  min-width: 1200px;
  color: var(--basic-black);

}

.index-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}
.footer-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  width: 196px;
}

.subtitle {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 53px;

}


.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  margin-left: 176px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  padding: 15px;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-light-blue);
}



.social-button:active {
  background-color: var(--basic-dark-blue);
}

.social-button:active img {
  opacity: 0.5;
}

.website {
  background-image: url("../img/logo-htmlacademy-black.svg");
  width: 115px;
  height: 41px;
}

.website:hover,
.website:focus {
  background-image: url("../img/logo-htmlacademy-blue.svg");
}

.website:active {
  background-image: url("../img/logo-htmlacademy-black.svg");
  opacity: 0.5;
}

.wrapper {
  width: 1055px;
  margin: 0 auto;
}


.wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  min-height: 122px;
}


.wrapper-out {
  border-bottom: 1px solid var(--basic-silver)
}

.wrapper-info{
  margin-left:24px;
}
.form-filter-search {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-form {
  min-height: 217px;
  padding: 28px;
  color: var(--basic-white);
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-blue)
}


.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);

}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 119px;
}

.infrastructure-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infrastructure-item {
  padding-top: 25px;

}


.filters-item {
  padding-left: 40px;
}


.filters-item label {
  position: relative;
  display: block;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: -2px;

  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  border-radius: 5px;
  cursor: pointer;
}

.filter-input-checkbox+label {
  cursor: pointer;
}


.filter-input-checkbox+label:hover::before {
  content: "";
  position: absolute;
  left: -41px;
  top: -2px;

  width: 23px;
  height: 23px;


  border: 2px solid var(--basic-white);
  border-radius: 5px;
}


.filter-input-checkbox:focus+label::before {
  outline: 2px solid var(--basic-blue);
}



.filter-input-checkbox:disabled+label:hover::before,
.filter-input-checkbox:disabled+label::before {
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -36px;

  width: 20px;
  height: 11px;

  border-left: 4px solid var(--basic-white);
  border-bottom: 4px solid var(--basic-white);
  transform: rotate(-45deg);
  cursor: pointer;
}

.filter-input-checkbox:checked+label:hover::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -36px;

  width: 20px;
  height: 11px;

  border-left: 4px solid var(--basic-white);
  border-bottom: 4px solid var(--basic-white);
  transform: rotate(-45deg);
}

.housing-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.housing-item {
  padding-top: 25px;

}

.filter-range {
  display: block;
  width: 315px;
  height: 160px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 21px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price{
  padding-left: 62px;
}
.price-controls .max-price {
  padding-left: 76px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 10px solid #ffffff;
  top: -10px;

}


.range-toggle:hover {
  background: #1c4f80;
  width: 4px;
  height: 4px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-filter {
  display: block;
  margin-left:81px;
  padding: 6px 35px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  width: 354px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  justify-content: space-between;
  list-style: none;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-item a:focus {
  color: var(--basic-blue);
  border-bottom: none;
}

.sorting-item a:hover {
  color: var(--basic-blue);
}

.sorting-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.arrow {
  color: var(--basic-gray);
}

.arrow:focus,
.arrow:hover {
  color: var(--basic-black);
}

.arrow:active {
  color: var(--basic-blue);
}

.direction {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 2px;
  margin-left: auto;
  list-style: none;
}

.direction a {
  margin-left: 7px;
}

.house-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.house-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper-house-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.column-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 6px;
}

.column-right {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.house-item {

  display: flex;
  flex-wrap: wrap;
}

.house-item img {
  margin-right: 29px;
}

.small-title {
  margin: 0;
}

.small-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.small-title a:hover,
.small-title a:focus {
  color: var(--basic-blue);
}

.small-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-more {
  background-color: var(--basic-blue);
  margin-top: 15px;
  padding: 4px 17px;
}

.button-more:hover {
  background-color: var(--basic-light-blue);
}

.button-more:active {
  background-color: var(--basic-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-order {
  background-color: var(--basic-brown);
  margin-top: 15px;
  padding: 4px 17px;
}

.button-order:hover {
  background-color: var(--basic-light-brown);
}

.button-order:active {
  background-color: var(--basic-extra-brown);
  color: rgba(255, 255, 255, 0.3);
}

.star-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.star-item {
  width: 19px;
  height: 17px;
  margin-left: 4px;
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
}

.raiting-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: auto;
}

.raiting {
  display: inline-block;
  width: 110px;
  min-height: 27px;
  padding-top: 3px;
  line-height: 27px;
  vertical-align: middle;
  text-align: center;
  background-color: var(--basic-extra-gray);
}
.telephone{
  margin: 0;
  margin-top:6px;
}
.telephone a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}


